In [2]:
5*54

270

In [3]:
85/(1.75**2)

27.755102040816325

In [4]:
"Portuguesa" > "Corinthians"

True

In [4]:
"Portuguesa" > "Palmeiras"

True

In [5]:
"Portuguesa" > "Real Madrid"

False

In [4]:
import pandas as pd
import os 
os.chdir("/home/rondweb/anaconda3")

In [5]:
Municipios = pd.read_csv("Municipios.csv", sep=";")

In [6]:
Municipios.head(10)

         CMI   renda
0  16.248154  467.72
1  13.203787  672.87
2  14.462810  446.58
3  14.039051  718.79
4  16.806723  553.47
5  20.816653  507.70
6  17.152659  401.70
7  21.969697  352.67
8  18.131652  572.48
9  16.400612  475.62

In [7]:
Municipios.describe()

               CMI        renda
count  5565.000000  5565.000000
mean     14.642856   483.400138
std       6.988362   238.872079
min       0.000000    95.590000
25%      10.673235   275.030000
50%      14.134276   456.300000
75%      18.087855   636.910000
max      88.594705  2008.980000

In [8]:
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
Municipios.CMI.plot(kind='hist')
plt.show()

In [2]:
Municipios.plot(kind='scatter', x='renda', y='CMI')
plt.xlim(95, 2009)
plt.ylim(0, 90)
plt.show()

NameError: name 'Municipios' is not defined

In [12]:
import statsmodels.api as sm

In [13]:
y = Municipios['CMI']
x = Municipios['renda']

In [14]:
x = sm.add_constant(x)

In [15]:
reg = sm.OLS(y,x).fit()

In [16]:
reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    CMI   R-squared:                       0.066
Model:                            OLS   Adj. R-squared:                  0.066
Method:                 Least Squares   F-statistic:                     396.0
Date:                Tue, 29 Sep 2015   Prob (F-statistic):           3.61e-85
Time:                        16:49:09   Log-Likelihood:                -18524.
No. Observations:                5565   AIC:                         3.705e+04
Df Residuals:                    5563   BIC:                         3.707e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         18.2884      0.204     89.497      0.000        17.888    18.689
renda         -0.0075      0.000    -19.899      0.000        -0.008    -0.007
==============================================================================
Omnibus:                     1930.157   Durbin-Watson:                   1.974
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            20422.901
Skew:                           1.349   Prob(JB):                         0.00
Kurtosis:                      11.989   Cond. No.                     1.22e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.22e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [16]:
Municipios.tail(10)

            CMI    renda
5555  14.000700   784.42
5556   6.596306   486.78
5557  26.785714   607.41
5558  12.529163   716.98
5559  20.134228   599.29
5560  19.836639   644.68
5561  20.618557   613.29
5562  15.873016   370.83
5563   3.533569   370.43
5564  11.905088  1665.42