In [22]:
import pandas as pd
df = pd.read_csv('/home/rondweb/anaconda3/pandas/lista_idh.csv', sep=";")
#usecols=["QTDE_VOTOS", "PARTIDO"]

df.columns = [c.lower() for c in df.columns]
df[:3]

,ranking idhm 2010,município,idhm 2010,idhm renda 2010,idhm longevidade 2010,idhm educação 2010
0,1 º,São Caetano do Sul (SP),"0,862","0,891","0,887","0,811"
1,2 º,Águas de São Pedro (SP),"0,854","0,849","0,89","0,825"
2,3 º,Florianópolis (SC),"0,847","0,87","0,873","0,8"

In [23]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://queimadas:Qmd@1998@localhost:5432/votos')

df.to_sql("idh2010", engine, if_exists = 'append')

In [18]:
dataQuery = pd.read_sql_query("select sigla_uf, partido, qtde_votos from votos_partido_mun_zona where sigla_uf = 'SP' group by sigla_uf, partido,qtde_votos order by sigla_uf, partido",con=engine)

In [19]:
dataQuery2 = dataQuery.groupby(['partido'])['qtde_votos'].sum()

In [20]:
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')

dataQuery2.plot(kind='barh', stacked=True)
plt.show()

In [8]:
dataQuery2

partido
DEM        25760547
PC do B    17566880
PCB          194610
PCO            9285
PDT        16328776
PHS         1748042
PMDB       63689819
PMN         3540044
PP         21173585
PPS        11935448
PR         17504206
PRB         6243902
PRP         1231199
PRTB        1005424
PSB        28772942
PSC         7822434
PSDB       77828393
PSDC         662698
PSL         2380025
PSOL        5187092
PSTU         546156
PT         82982848
PT do B     3156434
PTB        16174163
PTC         1655761
PTN         1124542
PV         14182181
Name: qtde_votos, dtype: int64